# project specific
python/build

# compiled python and shared objects
*.pyc
*.pyo
*.so
# temporary files
*~
\#*#
# profiling files
*.lprof
# data files
*.ply
.project
.pydevproject
*.pickle
*.mat
*.png
*.jpg
# archives
*.tar
*.tar.gz
*.zip

# Local agent files
.agnets
.codex

#Mac
.DS_Store
# LaTeX build byproducts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
